 * {
  margin:0;
  padding: 0;
  box-sizing: border-box;
 }

 html {
  /*10px / 16pc = 0.625*/
  font-size: 62.5%;

  /*Needs to be set on both, html and body*/
  /*Only works if there is nothing absolutely positioned in relation to body*/
  /*Mobile view menu is put to the right side of header, and this does not allow to scroll on it*/
  overflow-x: hidden;

  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /*Needs to be set on both, html and body*/
  /*Only works if there is nothing absolutely positioned in relation to body*/
  overflow-x: hidden;
}

